*{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		ul{
			margin-top: 10px;
			font-size: 14px;
		}
		.div{
			width: 150px;
			height: 30px;
			float: right;
			
		}
		.div li{
			width: 140px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
		.div li input{
			width: 100%;
			height: 100%;
			border: 1px solid #ccc;
			border-radius:7px ;
		}
		p.text{
			margin-bottom: 20px;
		}
		.t{
			margin-top:20px;
		}

